*{

}

#title{
  color: #989;
}

.form, .greetings{
  display: none;
}
.font-color-white{
  color: #fff;
}
body{
  background-color: #34495e;
  text-align: center;
}

.contentWrap{
  display: flex;
  flex-direction: column;
}

.contentHeader{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: flex-end;
}

.js-weather{
  font-size: 20px
}

.contentAbove{
  display: flex;
  flex: 1 1 auto;
  height: 250px;
}

.showing{
  display: block;
}

.js-title{
  font-size: 1000%;
  font-weight: 700;
  margin: 0;
}

.js-greetings{
  font-size: 500%;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.js-toDoForm{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
}
.js-toDoForm input{
  display: flex;
  width: 300px;
  font-size: 200%;
}


.toDoTitle{
  font-size: 300%;
  margin: 1% auto;
}
.js-clock{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
}
.inputTypeToDo{
  font-size: 300%;
  font-size: 1.5vw;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}
.inputTypeToDo::placeholder{
  color: #fff;
}
.inputTypeToDo:focus{
  color: #fff;
}

.js-toDoList{
  display: flex;
  flex-direction: column;
  align-items: center;
}

li{
  font-size: 230%;
  margin-bottom: 1%;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.js-backGround{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}
