#title{
  color: #989;
}

.form, .greetings{
  display: none;
}
.font-color-white{
  color: #fff;
}
body{
  background-color: #34495e;
}

.contentWrap{
  width: 100%;
  text-align: center;
}

.showing{
  display: block;
}

.js-title{
  font-size: 9vw;
  font-weight: 700;
}

.js-greetings{
  font-size: 3vw;
}

.js-toDoForm{

}

li{
  list-style-type: disc;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.js-backGround{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}
