#title{
  color: #989;
}

.form, .greetings{
  display: none;
}
.font-color-white{
  color: #fff;
}
body{
  background-color: #34495e;
  text-align: center;
}

.contentWrap{
  width: 100%;
  text-align: center;
}

.showing{
  display: block;
}

.js-title{
  font-size: 1000%;
  font-weight: 700;
}

.js-greetings{
  font-size: 500%;
}

.js-toDoForm{

}
.toDoTitle{
  font-size: 300%;
}
.inputTypeToDo{
  font-size: 300%;
  font-size: 1.5vw;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
}

li{
  font-size: 300%;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.js-backGround{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}
